table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }

table tr td.td_pubdate {
    width: 80px;
  }
  
tr:nth-child(even) {
    background-color: #D6EEEE;
  }


div.box_container {
    width: 800px;
    margin: auto;
    /* border: 1px solid #000000; */
  }

div.text_container {
    width: 800px;
    margin: auto;
}


/* Based on this stackoverflow answer: https://stackoverflow.com/a/9286333/74359 */
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunss.otf');
}
/* @font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
} */

body {
  font-family: "Computer Modern", sans-serif;
  margin: 0.5em;
  font-size:1.2em;
}

p {
  font-family: "Computer Modern", sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  /* font-size:1.2em; */
  /* text-indent: 2em; */
  margin-left: 0.3em;
}

div.codehilite {
  margin-left: 2em;
}

/* h1 {
  margin-left: -0.2em;
} */

/* Based on how github does code block highlighting. Remember when Pygments code highlighting package works */
code {
  background-color: rgba(175,184,193,0.2); /* grey */
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  border-radius: 6px;
}

.asciiart {
  font-family: monospace;
  white-space: pre;
  color: whitesmoke;
  background-color: rgb(27, 26, 26);
}

.asciiart-red {
  font-family: monospace;
  white-space: pre;
  color: red;
}

.asciiart-bgred {
  font-family: monospace;
  white-space: pre;
  background-color: red;
  color: black;
}

.asciiart-blue {
  font-family: monospace;
  white-space: pre;
  color: lightskyblue;
}

.asciiart-bgblue {
  font-family: monospace;
  white-space: pre;
  background-color: lightskyblue;
  color: black;
}

.asciiart-orange {
  font-family: monospace;
  white-space: pre;
  color: orange;
}

.asciiart-bgorange {
  font-family: monospace;
  white-space: pre;
  background-color: orange;
  color: black;
}

.asciiart-green {
  font-family: monospace;
  white-space: pre;
  color: lightseagreen;
}

.asciiart-white {
  font-family: monospace;
  white-space: pre;
  color: white;
}

.asciiart-bgwhite {
  font-family: monospace;
  white-space: pre;
  color: rgb(27, 26, 26);
  background-color: whitesmoke;
}
